<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Creation Date</th>
      <th scope="col">Last Update</th>
      <th scope="col">View Utenti</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of teams">
      <td>{{team.name}}</td>
      <td>{{team.creationDate}}</td>
      <td>{{team.lastUpdate != null ? team.lastUpdate : null}}</td>
      <td><button (click)="view(team.id)" class="btn btn-outline-warning">View</button></td>
    </tr>
  </tbody>
</table>
